In [1]:
import pandas as pd
import os
import json 
import pickle

In [2]:
idx_s = 91
ID = 0
folder_name='CFBData'
current_directory = os.getcwd()
folder_path = os.path.join(current_directory, folder_name)
step='step_4'


filepath=folder_path+'\\{}_Batch\\{}_{}_CFB\\{}_{}_analysisResults.json'.format(idx_s,idx_s,ID,idx_s,ID)
if os.path.exists(filepath):
    with open(filepath, 'r') as file:
        results = json.load(file)

In [3]:
eta_v_dict=results[step]['element']['eta_v']
eps_06d_loc_decisive_dict=results[step]['element']['eps_06d_loc_decisive']
centroid_dict=results[step]['element']['centroid']

In [4]:
df_eta = pd.DataFrame(list(eta_v_dict.items()), columns=['index', 'eta_v'])
df_eta.set_index('index', inplace=True)

df_eps = pd.DataFrame(list(eps_06d_loc_decisive_dict.items()), columns=['index', 'loc_decisive'])
df_eps.set_index('index', inplace=True)

df_cen = pd.DataFrame(centroid_dict.items(), columns=['index', 'values'])
df_cen = pd.concat([df_cen['index'], df_cen['values'].apply(pd.Series)], axis=1)
df_cen.columns = ['index', 'x', 'y', 'z']
df_cen.set_index('index', inplace=True)

In [5]:
df = pd.concat([df_eta, df_eps, df_cen], axis=1)
df

           eta_v loc_decisive       x       y       z
index
0       0.351826          bot   178.2   178.2     0.0
1       0.434970          bot   534.6   178.2     0.0
2       0.465942          bot   891.0   178.2     0.0
3       0.497645          bot  1247.4   178.2     0.0
4       0.534774          bot  1603.8   178.2     0.0
...          ...          ...     ...     ...     ...
886    10.077709          top  8067.6  5400.0 -2415.5
887    10.129185          top  8434.8  5400.0 -2415.5
888    10.218995          top  8802.0  5400.0 -2415.5
889    10.232177          top  9169.2  5400.0 -2415.5
890    10.846337          top  9536.4  5400.0 -2415.5

[891 rows x 5 columns]

In [7]:
new_bounds = df[(375 <= df["y"]) & (df["y"] <= 5025)]

In [10]:
min_eta_index = new_bounds['eta_v'].idxmin()

# Retrieve the row corresponding to the minimal value
min_eta_row = new_bounds.loc[min_eta_index]
min_eta_row

eta_v           1.762332
loc_decisive         bot
x                  178.2
y                 4865.4
z                    0.0
Name: 72, dtype: object