In [1]:
import pandas as pd
import numpy as np
import os
import json 
import pickle

In [2]:
idx_s = 5
ID = 0
folder_name='CFBData'
current_directory = os.getcwd()
folder_path = os.path.join(current_directory, folder_name)
step='step_4'


filepath=folder_path+'\\{}_Batch\\{}_{}_CFB\\{}_{}_analysisResults.json'.format(idx_s,idx_s,ID,idx_s,ID)
if os.path.exists(filepath):
    with open(filepath, 'r') as file:
        results = json.load(file)

In [3]:
eta_v_dict=results[step]['element']['eta_v']
eps_06d_loc_decisive_dict=results[step]['element']['eps_06d_loc_decisive']
centroid_dict=results[step]['element']['centroid']

In [4]:
df_eta = pd.DataFrame(list(eta_v_dict.items()), columns=['index', 'eta_v'])
df_eta.set_index('index', inplace=True)

df_eps = pd.DataFrame(list(eps_06d_loc_decisive_dict.items()), columns=['index', 'loc_decisive'])
df_eps.set_index('index', inplace=True)

df_cen = pd.DataFrame(centroid_dict.items(), columns=['index', 'values'])
df_cen = pd.concat([df_cen['index'], df_cen['values'].apply(pd.Series)], axis=1)
df_cen.columns = ['index', 'x', 'y', 'z']
df_cen.set_index('index', inplace=True)

In [5]:
df = pd.concat([df_eta, df_eps, df_cen], axis=1)
df

          eta_v loc_decisive       x       y       z
index
0      1.567755          bot   178.2   178.2     0.0
1      1.040332          bot   534.6   178.2     0.0
2      0.848516          bot   891.0   178.2     0.0
3      0.745529          bot  1247.4   178.2     0.0
4      0.703832          bot  1603.8   178.2     0.0
...         ...          ...     ...     ...     ...
886         NaN         None  8067.6  5400.0 -2415.5
887         NaN         None  8434.8  5400.0 -2415.5
888         NaN         None  8802.0  5400.0 -2415.5
889         NaN         None  9169.2  5400.0 -2415.5
890         NaN         None  9536.4  5400.0 -2415.5

[891 rows x 5 columns]

In [6]:
x_coord_of_min = 9536.4

span_elem = df[np.round(df["x"],1) == x_coord_of_min]
span_elem

           eta_v loc_decisive       x       y            z
index
188     0.469083          bot  9536.4   178.2     0.000000
197     1.910851          bot  9536.4   534.6     0.000000
206     2.917402          top  9536.4   891.0     0.000000
215     3.157429          top  9536.4  1247.4     0.000000
224     3.255919          top  9536.4  1603.8     0.000000
233     3.102519          top  9536.4  3796.2     0.000000
242     3.734603          top  9536.4  4152.6     0.000000
251     3.660407          bot  9536.4  4509.0     0.000000
260     2.182460          bot  9536.4  4865.4     0.000000
269     0.906951          bot  9536.4  5221.8     0.000000
368     3.488076          top  9536.4  1965.6     0.000000
377     6.494586          top  9536.4  2332.8     0.000000
386    12.255942          top  9536.4  2700.0     0.000000
395     3.305669          top  9536.4  3067.2     0.000000
404     2.582266          top  9536.4  3434.4     0.000000
467     3.883723          bot  9536.4     0.0 -1164.500000
476     3.175921          bot  9536.4     0.0  -858.700000
485     2.439600          bot  9536.4     0.0  -552.900000
548          NaN         None  9536.4     0.0 -2105.066667
557          NaN         None  9536.4     0.0 -1790.000000
566          NaN         None  9536.4     0.0 -1474.933333
629     7.867628          top  9536.4     0.0 -3027.100000
638     7.233362          top  9536.4     0.0 -2721.300000
647     6.773903          top  9536.4     0.0 -2415.500000
710     4.536933          bot  9536.4  5400.0 -1164.500000
719     3.380598          bot  9536.4  5400.0  -858.700000
728     2.415217          bot  9536.4  5400.0  -552.900000
791          NaN         None  9536.4  5400.0 -2105.066667
800          NaN         None  9536.4  5400.0 -1790.000000
809          NaN         None  9536.4  5400.0 -1474.933333
872          NaN         None  9536.4  5400.0 -3027.100000
881          NaN         None  9536.4  5400.0 -2721.300000
890          NaN         None  9536.4  5400.0 -2415.500000