In [11]:
import pandas as pd
import numpy as np
import os
import json 
import pickle

In [2]:
idx_s = 3
ID = 0
folder_name='CFBData'
current_directory = os.getcwd()
folder_path = os.path.join(current_directory, folder_name)
step='step_4'


filepath=folder_path+'\\{}_Batch\\{}_{}_CFB\\{}_{}_analysisResults.json'.format(idx_s,idx_s,ID,idx_s,ID)
if os.path.exists(filepath):
    with open(filepath, 'r') as file:
        results = json.load(file)

In [3]:
eta_v_dict=results[step]['element']['eta_v']
eps_06d_loc_decisive_dict=results[step]['element']['eps_06d_loc_decisive']
centroid_dict=results[step]['element']['centroid']

In [4]:
df_eta = pd.DataFrame(list(eta_v_dict.items()), columns=['index', 'eta_v'])
df_eta.set_index('index', inplace=True)

df_eps = pd.DataFrame(list(eps_06d_loc_decisive_dict.items()), columns=['index', 'loc_decisive'])
df_eps.set_index('index', inplace=True)

df_cen = pd.DataFrame(centroid_dict.items(), columns=['index', 'values'])
df_cen = pd.concat([df_cen['index'], df_cen['values'].apply(pd.Series)], axis=1)
df_cen.columns = ['index', 'x', 'y', 'z']
df_cen.set_index('index', inplace=True)

In [5]:
df = pd.concat([df_eta, df_eps, df_cen], axis=1)
df

           eta_v loc_decisive       x       y       z
index
0       1.765911          bot   178.2   178.2     0.0
1       1.156083          bot   534.6   178.2     0.0
2       0.942475          bot   891.0   178.2     0.0
3       0.833579          bot  1247.4   178.2     0.0
4       0.793289          bot  1603.8   178.2     0.0
...          ...          ...     ...     ...     ...
886    13.233537          top  8067.6  5400.0 -2415.5
887    12.176291          top  8434.8  5400.0 -2415.5
888    11.126487          top  8802.0  5400.0 -2415.5
889    10.772205          top  9169.2  5400.0 -2415.5
890     8.613681          top  9536.4  5400.0 -2415.5

[891 rows x 5 columns]

In [13]:
x_coord_of_min = 9536.4

span_elem = df[np.round(df["x"],1) == x_coord_of_min]
span_elem

           eta_v loc_decisive       x       y            z
index
188     0.516576          bot  9536.4   178.2     0.000000
197     1.928833          bot  9536.4   534.6     0.000000
206     2.896050          top  9536.4   891.0     0.000000
215     3.099747          top  9536.4  1247.4     0.000000
224     3.220284          top  9536.4  1603.8     0.000000
233     3.093668          top  9536.4  3796.2     0.000000
242     3.792037          top  9536.4  4152.6     0.000000
251     3.731122          bot  9536.4  4509.0     0.000000
260     2.184882          bot  9536.4  4865.4     0.000000
269     0.815666          bot  9536.4  5221.8     0.000000
368     3.446892          top  9536.4  1965.6     0.000000
377     6.394660          top  9536.4  2332.8     0.000000
386    12.334362          top  9536.4  2700.0     0.000000
395     3.293566          top  9536.4  3067.2     0.000000
404     2.563860          top  9536.4  3434.4     0.000000
467     4.054046          bot  9536.4     0.0 -1164.500000
476     3.322495          bot  9536.4     0.0  -858.700000
485     2.568894          bot  9536.4     0.0  -552.900000
548          NaN         None  9536.4     0.0 -2105.066667
557          NaN         None  9536.4     0.0 -1790.000000
566     4.910843          bot  9536.4     0.0 -1474.933333
629     8.938788          top  9536.4     0.0 -3027.100000
638     8.464025          top  9536.4     0.0 -2721.300000
647          NaN         None  9536.4     0.0 -2415.500000
710     4.461298          bot  9536.4  5400.0 -1164.500000
719     3.636994          bot  9536.4  5400.0  -858.700000
728     2.802716          bot  9536.4  5400.0  -552.900000
791     7.720465          top  9536.4  5400.0 -2105.066667
800          NaN         None  9536.4  5400.0 -1790.000000
809          NaN         None  9536.4  5400.0 -1474.933333
872    11.924945          top  9536.4  5400.0 -3027.100000
881     9.875108          top  9536.4  5400.0 -2721.300000
890     8.613681          top  9536.4  5400.0 -2415.500000