# Extract analysis results and perfrom verifications

This script reads out specified values form the result dict of each structure of a sampling iteration and saves the results in a df.

From the read out strains and stresses the minimum structural safety $\eta$ ("Erfüllungsgrad") are calculated for each structure.

Then the calculated verification results and the corresponding bridge parameter are saved in a csv-file..

In [1]:
#import packages
import pandas as pd
import os

## Batch Evaluation

In [2]:
# Input HERE
idx_s=1000
start_id = 4611
end_id = 4614
step='step_4'
standard_directory=True #Please specify False if your data does not lie in the standard directory in the repository and you would like to specify the path
if not standard_directory: # please specify the path of standard_directory is set to False (if set to True the following path and folder_name is ignored)
    prepath=None#"T:\\02_Forschung\\2022_SBB_LoA\\03_Phase_2\\04_WP_2.2\\07_DataGeneration\\240718_MS3_10000_LHS_CFB_withOldGH"
    folder_name=None

In [6]:
#calculation
from verification import calc_eta
if standard_directory:
    prepath=None
    folder_name='CFBData'
df_res= calc_eta(idx_s, start_id, end_id, step, extract_from ='results', folder_name=folder_name, with_eta_stresses=True, verbalise=False,prepath=prepath)

#print
df_res

There were 2 Structured that resulted in an error during analysis. (Error IDs: [4611, 4614])

,eta_min_s,x_s,y_s,z_s,Location_s,GP_count_s,eta_min_c,x_c,y_c,z_c,...,y_c_stresses,z_c_stresses,Location_c_stresses,ID,eta_min_shear_reduced,x_c_shear_reduced,y_c_shear_reduced,z_c_shear_reduced,Location_c_shear_reduced,element_count_shear_reduced
0,0.000000,None,None,None,None,None,0.000000,None,None,None,...,None,None,None,4611,NaN,NaN,NaN,NaN,NaN,NaN
0,1.018628,262.085297,2813.300781,-558.496765,eta_1,0,4.756935,262.085297,187.223114,-1197.09729,...,187.223114,-1197.09729,eta_y_bot_stresses,4612,1.632020,620.100741,7688.184096,-978.311008,bot,0.0
0,1.058026,5728.835938,63.66151,-3256.970947,eta_1,0,1.854824,5728.835938,63.66151,-5343.611816,...,63.66151,-5343.611816,eta_y_bot_stresses,4613,0.681286,5585.694412,0.000000,-1327.911937,bot,12.0
0,0.000000,None,None,None,None,None,0.000000,None,None,None,...,None,None,None,4614,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
#saving calclulated etas in csv-file
if standard_directory:
    current_directory = os.getcwd()
    folder_path = os.path.join(current_directory, folder_name)
if not standard_directory:
    folder_path=prepath


filepath=folder_path+'\\{}_Batch\\{}_CFB_evaluations.csv'.format(idx_s,idx_s)

df_res.to_csv(filepath,index=True)

In [36]:
#merge x and y df and save them too

y_file_name='\\{}_Batch\\{}_CFB_evaluations.csv'.format(idx_s,idx_s)
y_file_path = folder_path+ y_file_name
df_y=pd.read_csv(y_file_path).drop(columns=['Unnamed: 0'])

x_file_name='\\{}_Batch\\{}_CFBSamples.csv'.format(idx_s,idx_s)
x_file_path = folder_path+ x_file_name
df_x=pd.read_csv(x_file_path).rename(columns={'Unnamed: 0':'ID'})

df_xy = pd.merge(df_x, df_y, on='ID', how='inner')

filepath=folder_path+'\\{}_Batch\\{}_CFB_xy.csv'.format(idx_s,idx_s)
df_xy.to_csv(filepath,index=True)

df_xy

,ID,L,b1,t_p,t_w,h_w,d1_plate,d4_plate,d2_plate,s_plate,...,x_c_stresses,y_c_stresses,z_c_stresses,Location_c_stresses,eta_min_shear_reduced,x_c_shear_reduced,y_c_shear_reduced,z_c_shear_reduced,Location_c_shear_reduced,element_count_shear_reduced
0,0,14152.309743,13160.448316,671.877268,271.205192,2592.503458,27.287790,10.197769,25.263594,471.266784,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,8837.220070,14326.857508,397.206564,392.509172,2174.579147,13.526673,28.214886,16.686438,304.655295,...,9661.604492,4498.636719,-349.060303,eta_y_top_stresses,0.862387,9942.839110,8444.710898,-756.012123,bot,7.0
2,2,7796.803368,10387.623139,378.608748,496.703692,2499.310838,13.184702,28.695437,26.623659,162.721832,...,10201.034180,3411.216309,-331.282654,eta_y_top_stresses,0.135108,9946.149155,0.000000,-790.995036,bot,14.0
3,3,15476.105221,16753.589316,406.201522,506.925036,4666.279702,14.948656,10.629952,23.855850,384.055532,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,15734.234806,4752.154452,533.287170,1098.176839,2413.433684,28.295942,21.539489,29.983721,282.332601,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,15345.418988,9644.827841,414.915388,1049.327379,4070.449582,23.910367,21.830684,23.531270,165.269508,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,10411.210308,11699.013350,372.309059,741.307521,4383.061535,20.965589,17.952140,12.606927,489.762811,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,7528.577758,12120.095740,211.263172,983.381917,2151.770779,13.882819,11.256407,12.268713,293.968498,...,9889.739258,3155.029053,-166.786713,eta_y_top_stresses,0.024019,11825.750558,0.000000,-2007.991773,top,105.0
8,8,9136.818664,11327.434726,676.356536,655.628521,3931.738859,26.907880,23.107287,13.499978,163.347203,...,10920.494141,8201.057617,-1699.641724,eta_y_bot_stresses,1.655786,10364.602775,7781.491956,0.000000,bot,0.0
9,9,8766.099931,17385.636290,1065.785788,583.227595,4793.462227,23.508880,28.995123,15.462622,432.438239,...,12640.007812,2994.319580,-1022.284302,eta_y_top_stresses,1.092696,13691.188578,675.086968,0.000000,bot,0.0

## Exploring an individual results dict

In [10]:
# Input HERE
idx_s=1
id = 0
step='step_4'

In [ ]:
#load results dict
from verification import get_results
results=get_results(idx_s, id, step=None)

In [ ]:
results

In [ ]:
#print available keys of the dict
results[step]['GP'].keys()

In [ ]:
#specific discplacement
results[step]['nodal']['uz']['20']

In [ ]:
#specific stresses
results[step]['GP']['sig_sr_1L_x']['99']

In [ ]:
#calculating specific etas
from verification import *
concrete_bending_verification_stresses(structure=None, results = results, step=step, return_type='dict', verbalise=True)

## Check Valdiation functions

In [ ]:
# Input HERE
idx_s=1
id = 0
step='step_4'

In [ ]:
#load results dict
from verification import get_results
results=get_results(idx_s, id, step)

#### Check reinforcement steel bending verification

In [ ]:
#calculate maximum stresses
max_sig=[max(results['GP']['sig_sr_1L_x'].values()),
         max(results['GP']['sig_sr_1L_y'].values()),
         max(results['GP']['sig_sr_2L_x'].values()),
         max(results['GP']['sig_sr_2L_y'].values()),
         max(results['GP']['sig_sr_3L_x'].values()),
         max(results['GP']['sig_sr_3L_y'].values()),
         max(results['GP']['sig_sr_4L_x'].values()),
         max(results['GP']['sig_sr_4L_y'].values()),
]
print(max_sig)

In [ ]:
#!!compare with calculated eta_min_s
720/max(max_sig)

#### Check concrete bending verification (strains)

In [ ]:
#calculate minimum strains
min_eps=[min(results['GP']['eps_1_bot'].values()),
         min(results['GP']['eps_3_bot'].values()),
         min(results['GP']['eps_1_top'].values()),
         min(results['GP']['eps_3_top'].values())        
]
print(min_eps)

In [ ]:
#!!compare with calculated eta_min_c
-0.002/min(min_eps)

#### Check concrete bending verification (stresses)

In [ ]:
#calculate maximum negative stresses (--> minimum stresses)
# min_eps=[min(results['GP']['eps_1_bot'].values()),
#          min(results['GP']['eps_3_bot'].values()),
#          min(results['GP']['eps_1_top'].values()),
#          min(results['GP']['eps_3_top'].values())        
# ]
# print(min_eps)

In [ ]:
#!!compare with calculated eta_min_c_stresses
# fcc_eff/sig_c
# -0.002/min(min_eps)

In [ ]:
# results['GP']['fcc_eff_top']

In [ ]:
# results['GP']['sig_x_top']

## Plotting Runtimes

In [ ]:
#saving runtimes
n_elements1=[2450.0, 1601.0, 1142.0, 947.0,  947.0, 947.0, 947.0, 947.0, 947.0, 947.0]
analysis_time1=[1052.815,1011.080,649.90,633.543,632.563,637.594,641.200, 650.680, 650.564, 662.114] #seconds
analysis_time1 = [element / 60 for element in analysis_time1] #minutes

n_elements2= [362.0, 257.0,  206.0, 128.0, 128.0, 128.0,  128.0, 128.0,  128.0, 128.]
analysis_time2=[83.119,92.788 ,102.771,84.002,88.768 ,82.442,85.991,87.115, 84.954, 84.954]
analysis_time2 = [element / 60 for element in analysis_time2] #minutes

n_elements3=[2756.0, 1835.0, 1232.0, 1028.0, 1028.0, 1028.0, 1028.0, 1028.0, 1028.0, 1028.0]
analysis_time3=[1107.244,911.303, 570.685, 602.179, 594.138, 591.931, 593.499, 606.966, 603.610, 600.916]
analysis_time3 = [element / 60 for element in analysis_time3] #minutes

In [ ]:
import matplotlib.pyplot as plt

fig, ax = plt.subplots()
ax.plot(n_elements1, analysis_time1,label='L5800_parameterstudie (ms=1t)', marker='o', color='darkblue')
ax.plot(n_elements2, analysis_time2,label='L5800_parameterstudie (ms=3t)', marker='X', color='blue')
ax.plot(n_elements3, analysis_time3,label='L7000_parameterstudie (ms=1t)', marker='.', color='lightblue')


ax.set(xlabel='number of elements', ylabel='analysis time [minutes]',
       title='Runtime comparison')

# ax.set_ylim(bottom=0,top=20)

ax.grid()
ax.legend()

#fig.savefig("test.png")
plt.show()